@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'main/main.less';
@import 'mytest/mytest.less';
@import 'timeline/timeline.less';
@import 'shared/corpus/borders.less';
@import 'shared/corpus/breakpoints.less';
@import 'shared/corpus/grid.less';
@import 'shared/corpus/positioning.less';
@import 'shared/corpus/reset.less';
@import 'shared/corpus/responsive.less';
@import 'shared/corpus/sizing.less';
@import 'shared/corpus/typography.less';
@import 'shared/corpus/utilities.less';
@import 'shared/corpus/variables.less';
@import 'shared/corpus/whitespace.less';
@import 'shared/grid.less';
@import 'shared/login/login.less';
@import 'shared/modal/modal.less';
@import 'uptime/uptime.less';
// endinjector


// font sizes
.fs-medium {
  font-size: medium;
}
.fs-large {
  font-size: large;
}
.fs-xlarge {
  font-size: x-large;
}

.bold {
  font-weight: bold;
}

