@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'grid.less';
@import 'main/login.less';
@import 'main/main.less';
@import 'corpus/borders.less';
@import 'corpus/reset.less';
@import 'corpus/utilities.less';
@import 'corpus/whitespace.less';
@import 'modal/modal.less';
// endinjector

//===================================================================
// Helper layout classes

.vw100 {
  width: 100vw;
}

.vh100 {
  height: 100vh;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w33 {
  width: 33%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.h50 {
  height: 50%;
}

// Helper layout classes
//===================================================================

// font sizes
.fs-medium {
  font-size: medium;
}
.fs-large {
  font-size: large;
}
.fs-xlarge {
  font-size: x-large;
}

.bold {
  font-weight: bold;
}

