.myrow.gutters.bg-silver
  .column.p1.bg-white .column
  .column.p1.bg-white .column
  .column.p1.bg-white .column
  .column.p1.bg-white .column
  .column.p1.bg-white .column
  .column.p1.bg-white.w100 .w100
  .column.p1.bg-white.w75 .w75
  .column.p1.bg-white.w25 .w25
  .column.p1.bg-white.w65 .w65
  .column.p1.bg-white.w35 .w35
  .column.p1.bg-white.w50 .w50
  .column.p1.bg-white.w50 .w50
