.myrow.vh50.gutters.bg-silver.bottom-left.mb2
  //.column.vh15.w30.p1.bg-white.top-left .top-left
  //.column.vh15.w30.p1.bg-white.top-center .top-center
  //.column.vh15.w30.p1.bg-white.top-right .top-right
  //.column.vh15.w30.p1.bg-white.center-left .center-left
  .column.vh15.max-w30.p1.bg-white.order-2.center 1
  .column.vh15.max-w30.p1.bg-white.center 2
  //.column.vh15.w30.p1.bg-white.center-right .center-right
  //.column.vh15.w30.p1.bg-white.bottom-left .bottom-left
  //.column.vh15.w30.p1.bg-white.bottom-center .bottom-center
  //.column.vh15.w30.p1.bg-white.bottom-right .bottom-right
