.f-row.bg-silver.gutters.space-between
  .f-column.p1.bg-white .f-column
  .f-column.p1.bg-white .f-column
  .f-column.p1.bg-white .f-column
  .f-column.p1.bg-white .f-column
  .f-column.p1.bg-white .f-column
  .f-column.p1.bg-white.w100 .w100
  .f-column.p1.bg-white.w75 .w75
  .f-column.p1.bg-white.w25 .w25
  .f-column.p1.bg-white.w65 .w65
  .f-column.p1.bg-white.w35 .w35
  .f-column.p1.bg-white.w50 .w50
  .f-column.p1.bg-white.w50 .w50
