#main-page {
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  background: lightgoldenrodyellow;

  .medium({
    display: block !important;
    height: auto !important;
    min-height: 100vh !important;
  });
}

//**********************
// header

#header {
  flex: 0 1 auto;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000000;
  color: #ffffff;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  overflow: visible;
}

#header-text {
  flex: 1;
  font-size: x-large;
  padding-left: 5px;
}

#header-right-part {
  flex: none;
  width: 20rem;
}

#user-section {
  display: inline-block;
}

// header
//**********************

#content {
  flex: 1;
//  background: gold;
}

#footer  {
  flex: 0 0 auto;
  width: 100%;
}
