#main-page.w100.vh100
  #header
    #header-text Uptime Monitor
    #header-right-part.text-right.plr1
      #user-section(ng-show="Auth.getCurrentUser() !== undefined")
        span.mr2 Оператор: {{ Auth.getCurrentUser() }}
        button.btn.btn-default.user-section-btn.mr1(ng-click="onSettingsBtnClick()", disabled="disabled")
          i.fa.fa-cog
        button.btn.btn-default.user-section-btn(ng-click="onLogOutBtnClick()")
          i.fa.fa-sign-out
  #content
    #left-part.p1
      #time-period-selector
        .Grid.Grid--center
          .Grid-cell--autoSize.fs-medium Выбор периода наблюдения:
          .Grid-cell.text-left.pl1
            .btn-group
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'day'") Сутки
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'week'") Неделя
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'month'") Месяц
      #transport-list-title.pt1
        .fs-medium Список транспортных средств с оборудованием:
      #transport-list
        p transp list
    #right-part.p1
      p right part
  footer#footer.text-center Copyright &copy; 2015 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/" target="_blank") ИТЦ Система-Саров
    span ,&nbsp;&nbsp;
    a(href="https://www.me-so.ru/" target="_blank") ДЦ "Микрон"
