#main-page.w100.vh100
  // Header
  #header
    #header-text Uptime Monitor
    #header-right-part.plr1
      // Navi menu
      #navi-lst.btn-group.mr1(uib-dropdown='')
        button#navi-menu-button.btn.btn-primary.responsive-btn(type='button', uib-dropdown-toggle='', ng-disabled='disabled')
          span Перейти к&nbsp;&nbsp;
          span.caret
        ul(uib-dropdown-menu='', role='menu', aria-labelledby='navi-menu-button')
          li(role='menuitem', ng-repeat="menuItem in naviMenuItems")
            a(ng-href='{{menuItem.url}}') {{menuItem.name}}
      #user-section.text-right(ng-show="Auth.getCurrentUser() !== undefined")
        span.mr2 Оператор: {{ Auth.getCurrentUser() }}
        button.btn.btn-default.responsive-btn.mr1(ng-click="onSettingsBtnClick()", disabled="disabled")
          i.fa.fa-cog
        button.btn.btn-default.responsive-btn(ng-click="onLogOutBtnClick()")
          i.fa.fa-sign-out
  // Main content
  uptime#content.uptime-wrapper
  // Footer
  footer#footer.text-center Copyright &copy; 2015-2016 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/", target="_blank") ИТЦ Система-Саров
    span ,&nbsp;&nbsp;
    a(href="https://www.me-so.ru/", target="_blank") ДЦ "Микрон"
