#main-page.w100.vh100
  #header
    #header-text Uptime Monitor
    #header-right-part.text-right.plr1
      #user-section(ng-show="Auth.getCurrentUser() !== undefined")
        span.mr2 Оператор: {{ Auth.getCurrentUser() }}
        button.btn.btn-default.user-section-btn.mr1(ng-click="onSettingsBtnClick()", disabled="disabled")
          i.fa.fa-cog
        button.btn.btn-default.user-section-btn(ng-click="onLogOutBtnClick()")
          i.fa.fa-sign-out
  #content
    #left-part.p1
      #time-period-selector
        .Grid.Grid--center
          .Grid-cell--autoSize.fs-medium Выбор периода наблюдения:
          .Grid-cell.text-left.pl1
            .btn-group
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'day'") Сутки
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'week'") Неделя
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'month'") Месяц
      #transport-list-title.pt2.pb1
        .fs-medium Список транспортных средств с оборудованием:
      #transport-list
        uib-accordion
          // ACCORDION ITEM
          uib-accordion-group(heading="{{bus.name}}", ng-repeat="bus in busInfos")
            // HEADER
            uib-accordion-heading
              .Grid.Grid--center
                .Grid-cell--autoSize
                  div.rounded(ng-switch="bus.type",
                  ng-style="bus.status === 'OK' && {'background-color': 'green'} || bus.status === 'FAIL' && {'background-color': 'red'}")
                    img(ng-switch-when="trolleybus", src='assets/images/trolleybus.png', alt="Троллейбус")
                    img(ng-switch-when="bus",        src='assets/images/bus.png',        alt="Автобус")
                .Grid-cell-1of8.text-right.pr2 {{bus.name}}
                .Grid-cell-3of4
                  .timeline
            // BODY
            // validators
            .sect-validators.mb1.bb1
              .Grid.Grid--center.pb1(ng-repeat="v in bus.validators")
                .Grid-cell-1of8
                .Grid-cell-1of8.text-right.pr2 {{v.name}}
                .Grid-cell-3of4
                  .timeline
            // pps
            .sect-pps.mb1.bb1
              .Grid.Grid--center.pb1(ng-repeat="pp in bus.pps")
                .Grid-cell-1of8
                .Grid-cell-1of8.text-right.pr2 {{pp.name}}
                .Grid-cell-3of4
                  .timeline
            // uhf
            .sect-uhf.mb1
              .Grid.Grid--center
                .Grid-cell-1of8
                .Grid-cell-1of8.text-right.pr2 UHF
                .Grid-cell-3of4
                  .timeline
    #right-part.p1
      p right part
  footer#footer.text-center Copyright &copy; 2015 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/" target="_blank") ИТЦ Система-Саров
    span ,&nbsp;&nbsp;
    a(href="https://www.me-so.ru/" target="_blank") ДЦ "Микрон"
