#main-page.w100.vh100
  #header
    #header-text Uptime Monitor
    #header-right-part.text-right.plr1
      #user-section(ng-show="Auth.getCurrentUser() !== undefined")
        span.mr2 Оператор: {{ Auth.getCurrentUser() }}
        button.btn.btn-default.user-section-btn.mr1(ng-click="onSettingsBtnClick()", disabled="disabled")
          i.fa.fa-cog
        button.btn.btn-default.user-section-btn(ng-click="onLogOutBtnClick()")
          i.fa.fa-sign-out
  #content
    #left-part.p1
      #time-period-selector
        .Grid.Grid--center
          .Grid-cell--autoSize.fs-medium Выбор периода наблюдения:
          .Grid-cell.text-left.pl1
            .btn-group
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'hour'") Час
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'day'") Сутки
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'week'") Неделя
              label.btn.btn-primary(ng-model="timePeriod", uib-btn-radio="'month'") Месяц
      #transport-list-title.pt2.pb1.fs-medium Список транспортных средств с оборудованием:
      #transport-list.overflow-auto
        uib-accordion
          // ACCORDION ITEM
          uib-accordion-group(ng-repeat="bus in busInfos")
            // HEADER
            uib-accordion-heading
              .Grid.Grid--center(ng-click="onAccordionItemClicked(bus)")
                .Grid-cell--autoSize.accordion-first-col
                  .Grid.Grid--center
                    .Grid-cell.rounded(ng-switch="bus.busType",
                    ng-class="getStatusBgClass(bus.status)")
                      img(ng-switch-when="trolleybus", src='assets/images/trolleybus.png', alt="Троллейбус")
                      img(ng-switch-when="bus",        src='assets/images/bus.png',        alt="Автобус")
                    .Grid-cell.text-right.pr1
                      span.bold(ng-class="getStatusFgClass(bus.status)") {{bus.busName}}
                .Grid-cell
                  timeline(dt-start="dtStart", dt-end="dtEnd", intervals="intervals[bus.busName].busIntervals",
                  height="50px")
            // BODY
            // validators
            .sect-validators.mb1.bb1
              .accordion-first-col.text-right.bold.pb1 Валидаторы:
              .Grid.Grid--center.pb1(ng-repeat="v in bus.validators")
                .Grid-cell--autoSize.accordion-first-col.text-right.pr1
                  span.bold(ng-class="getStatusFgClass(bus.validatorStatuses[v])") {{v}}
                .Grid-cell
                  timeline(dt-start="dtStart", dt-end="dtEnd", intervals="intervals[bus.busName].validatorIntervals[v]")
            // pps
            .sect-pps.mb1
              .accordion-first-col.text-right.bold.pb1 Датчики ПП:
              .Grid.Grid--center.pb1(ng-repeat="pp in bus.pp")
                .Grid-cell--autoSize.accordion-first-col.text-right.pr1
                  span.bold(ng-class="getStatusFgClass(bus.ppStatuses[pp])") {{pp | ppNameFilter}}
                .Grid-cell
                  timeline(dt-start="dtStart", dt-end="dtEnd", intervals="intervals[bus.busName].ppIntervals[pp]")
            // uhf
            //.sect-uhf.mb1
            //  .Grid.Grid--center
            //    .Grid-cell--autoSize.accordion-first-col.text-right.pr1
            //      span.bold(ng-class="getStatusFgClass(bus.uhf.status)") UHF
            //    .Grid-cell
            //      timeline(dt-start="dtStart", dt-end="dtEnd", intervals="timeIntervals")
    #right-part.p1
      #bus-events-title.pb1.fs-large
        span(ng-show="selectedBus") События для {{ selectedBus.busName }}:
        span(ng-show="!selectedBus") Выберите транспортное средство для просмотра событий.
      #bus-events.grid(ui-grid="gridOptions", ui-grid-auto-resize, ui-grid-pagination)
  footer#footer.text-center Copyright &copy; 2015 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/", target="_blank") ИТЦ Система-Саров
    span ,&nbsp;&nbsp;
    a(href="https://www.me-so.ru/", target="_blank") ДЦ "Микрон"
