#main-page {
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  background: lightgoldenrodyellow;
}

//**********************
// header

#header {
  flex: 0 1 auto;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #000000;
  color: #ffffff;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

#header-text {
  flex: 1;
  font-size: x-large;
  padding-left: 5px;
}

#header-right-part {
  flex: none;
}

#user-section {
  display: inline-block;
}

// header
//**********************

#content {
  flex: 1;
//  background: gold;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}

#left-part {
  flex: 1;
//  background: green;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#time-period-selector {
  flex: none;
//  background: lightgreen;
}

//#transport-list-title {
//  flex: none;
//}

#transport-list {
  flex: 1;
//  background: darkgreen;
}

.accordion-first-col {
  width: 13rem;
}

.bus-img {
  width: 3rem;
  height: 3rem;
}

#right-part {
  flex: 1;
//  background: blue;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#bus-events-title {
  flex: none;
}

#bus-events {
  flex: 1;
}

#footer  {
  flex: 0 0 auto;
  width: 100%;
}

/////////////////////////////////////////////////
// Status colors

@color-status-ok: rgba(92, 184, 92, 1.0);
@color-status-failed: rgba(217, 83, 79, 1.0);
@color-status-partial: rgba(240, 173, 78, 1.0);

.status-ok-bg {
  background: @color-status-ok;
}

.status-failed-bg {
  background: @color-status-failed;
}

.status-partial-bg {
  background: @color-status-partial;
}

.status-unknown-bg {
  background: #ffffff;
}

.status-ok-fg {
  color: @color-status-ok;
}

.status-failed-fg {
  color: @color-status-failed;
}

.status-partial-fg {
  color: @color-status-partial;
}

.status-unknown-fg {
  color: #000000;
}

/////////////////////////////////////////////////
