#main-page.w100.vh100
  #header
    #header-text Uptime Monitor
    #header-right-part.text-right
      #user-section(ng-show="Auth.getCurrentUser() !== undefined")
        span(style="margin-right: 10px") Оператор: {{ Auth.getCurrentUser() }}
        button.btn.btn-default.user-section-btn(ng-click="onSettingsBtnClick()", disabled="disabled", style="margin-right: 5px")
          i.fa.fa-cog
        button.btn.btn-default.user-section-btn(ng-click="onLogOutBtnClick()", style="margin-right: 15px")
          i.fa.fa-sign-out
  #content
    #left-part.p1
      p left part
    #right-part.p1
      p right part
  footer#footer.text-center Copyright &copy; 2015 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/" target="_blank") ИТЦ Система-Саров
    span ,&nbsp;&nbsp;
    a(href="https://www.me-so.ru/" target="_blank") ДЦ "Микрон"
